{% extends 'base.html.twig' %}
{% block content %}
    <!-- Custom Hero Area -->
    <section class="custom-hero-area dark-overlay" data-parallax="scroll" data-speed="0.6" data-image-src="{{ asset('assets/img/6.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-hero">
                        <h2>Blog forums</h2>
                        <ul class="breadcrumbs">
                            <li><a>forums</a></li>
                            <li>&mdash;</li>
                            <li>Categorie 1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Custom Hero Area -->

    <!-- All Blog -->
    <a href="comment">
    <section class="all-blog section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="single-blog-content">
                        <div class="commented">
                            <ul class="comment-list">
                                <li>
                                    <div class="comment">
                                            <h5>Ridoy Rezuen</h5>
                                            <div class="comment-meta">
                                                <a>Title</a>
                                            </div>
                                            <p>The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
                                            <p class="news-meta" align="right">
                                                <span>September 23, 2017</span>
                                                <span><i class="ti-eye"></i> 3153</span>
                                                <span><i class="ti-comment"></i> 33</span>
                                            </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- All Blog -->
    </a>
{% endblock %}